<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @submission.First_Name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @submission.Last_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submission.Email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @submission.Phone_Number %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @submission.Event_Date %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @submission.Event_Time %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @submission.Event_Name %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @submission.Event_Description %>
</p>

<p>
  <strong>Pick up date:</strong>
  <%= @submission.Pick_Up_Date %>
</p>

<p>
  <strong>Drop off date:</strong>
  <%= @submission.Drop_Off_Date %>
</p>

<p>
  <strong>Popcorn machine:</strong>
  <%= @submission.Popcorn_Machine %>
</p>

<p>
  <strong>Snowkone machine:</strong>
  <%= @submission.SnowKone_Machine %>
</p>

<p>
  <strong>Chocolate fountain:</strong>
  <%= @submission.Chocolate_Fountain %>
</p>

<p>
  <strong>Cotton candy machine:</strong>
  <%= @submission.Cotton_Candy_Machine %>
</p>

<p>
  <strong>Margaritaville:</strong>
  <%= @submission.Margaritaville %>
</p>

<p>
  <strong>Pancake griddle a:</strong>
  <%= @submission.Pancake_Griddle_A %>
</p>

<p>
  <strong>Pancake griddle b:</strong>
  <%= @submission.Pancake_Griddle_B %>
</p>

<p>
  <strong>Pancake griddle c:</strong>
  <%= @submission.Pancake_Griddle_C %>
</p>

<p>
  <strong>Epson projector:</strong>
  <%= @submission.Epson_Projector %>
</p>

<p>
  <strong>Projector screen:</strong>
  <%= @submission.Projector_Screen %>
</p>

<p>
  <strong>Fender speakers blutooth:</strong>
  <%= @submission.Fender_Speakers_Blutooth %>
</p>

<p>
  <strong>Fender speakers wired:</strong>
  <%= @submission.Fender_Speakers_Wired %>
</p>

<p>
  <strong>Microphone and stand:</strong>
  <%= @submission.microphone_and_Stand %>
</p>

<p>
  <strong>Cornhole:</strong>
  <%= @submission.Cornhole %>
</p>

<p>
  <strong>Kan jam:</strong>
  <%= @submission.Kan_Jam %>
</p>

<p>
  <strong>Bocce ball:</strong>
  <%= @submission.Bocce_Ball %>
</p>

<p>
  <strong>Washer toss:</strong>
  <%= @submission.Washer_Toss %>
</p>

<p>
  <strong>White canopy a:</strong>
  <%= @submission.White_Canopy_A %>
</p>

<p>
  <strong>White canopy b:</strong>
  <%= @submission.White_Canopy_B %>
</p>

<p>
  <strong>White canopy c:</strong>
  <%= @submission.White_Canopy_C %>
</p>

<p>
  <strong>Strobe lights:</strong>
  <%= @submission.Strobe_Lights %>
</p>

<p>
  <strong>Red police light:</strong>
  <%= @submission.Red_Police_Light %>
</p>

<p>
  <strong>Six light helicopter:</strong>
  <%= @submission.Six_Light_Helicopter %>
</p>

<p>
  <strong>Black light:</strong>
  <%= @submission.Black_Light %>
</p>

<p>
  <strong>Extention cord a:</strong>
  <%= @submission.Extention_Cord_A %>
</p>

<p>
  <strong>Extention cord b:</strong>
  <%= @submission.Extention_Cord_B %>
</p>

<p>
  <strong>Extention cord c:</strong>
  <%= @submission.Extention_cord_C %>
</p>

<p>
  <strong>Water cooler a:</strong>
  <%= @submission.Water_Cooler_A %>
</p>

<p>
  <strong>Water cooler b:</strong>
  <%= @submission.Water_Cooler_B %>
</p>

<p>
  <strong>Water cooler c:</strong>
  <%= @submission.Water_Cooler_C %>
</p>

<p>
  <strong>Ice chest:</strong>
  <%= @submission.Ice_Chest %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
